#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Titulo {
  margin-bottom: 2rem;
  color: #213547;
}

.RRSS {
  margin-bottom: 2rem;
}

.error {
  margin: 1rem;
  padding: 1rem;
  background-color: #213547;
  color: white;
  border-radius: 15px;

}

.error2 {
  margin: 1rem;
  padding: 1rem;
  background-color: #508ec5;
  color: white;
  border-radius: 15px;

}

.tarjetaForm {
  background-color: rgb(242, 242, 242);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.15);

}

.fa-brands {
  margin: 1rem;
  /* color: #213547; */
}

.fa-facebook {
  color: #3b5998;
}

.fa-github {
  color: rgb(17, 171, 145);
}

.fa-linkedin {
  color: #0e76a8;
}

.fa-brands:hover {
  cursor: pointer;
  transform: scale(1.25);
  transition: ease 1s;
}